@model MyFinanceWeb.Application.DTOs.TransacaoDTOs.TransacaoDTO

@{
    ViewData["Title"] = "Editar Transação: " + Model.Historico;
}

<div>
    <h2>@ViewData["Title"]</h2>
</div>

<form asp-controller="Transacao">
    <!-- Botão de voltar -->


    <div class="form-group">
        <select asp-for="PlanoContaId" class="form-control" asp-items="ViewBag.PlanoContaId"></select>
        <span asp-validation-for="PlanoContaId" class="text-danger"></span>
    </div>

    <!-- Input nome da transação -->
    <div class="form-group">
        <label for="Historico">Nome Transação:</label>
        <input type="text" id="Historico" name="Historico" class="form-control" value="@Model.Historico" />
    </div>

    <!-- Input valor da transação -->
    <div class="form-group">
        <label for="Valor">Valor: (0.00)</label>
        <input type="number" placeholder="0.00" required min="0.00"  id="Valor" name="Valor" class="form-control" value="@Model.Valor" />
    </div>

    <!-- Input data da transação -->
    <div class="form-group">
        <label for="Data">Data:</label>
        <input type="datetime-local" id="Data" name="Data" class="form-control" value="@Model.Data.ToString("yyyy-MM-ddTHH:mm")" />
    </div>

    <!-- Confirmar (Submit) -->
    <div class="form-group">
        <h1></h1>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</form>
